data/xsum
data/hewlett-foundation-data
data/daigt
preds/
__pycache__/
data/hewlett-n=1000-instruct=True-model=meta-llama-3-8b-instruct.jsonl
data/xsum-gen-model=mistral-7b-v0.1-n=5000.jsonl
data/xsum-gen-n=5000-model=llama3-8b.jsonl
*.DS_Store
